html, body, p, div, h1, h2, h3, h4, h5, h6, ul, ol, li {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1;
}


.wrapper {
	border: 10px solid red; 
	width: 1130px; 
	margin: 0 auto;
	line-height: 2;
}