@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
/* font-family: 'Nanum Myeongjo', serif; */

@import './fonts/uto-gothic.css';
/* font-family: 'BBTreeGR'; font-family: 'BBTreeGB'; font-family: 'BBTreeGL'; */

.wrapper {
	max-width: 800px;
	margin: 0 auto;
	padding: 50px 0;
	font-family: 'BBTreeGR', sans-serif;
	color: #121212;	
}

h1.title {
	font-size: 32px;
	text-align: center;
	padding: 16px;
	border-bottom: 1px solid #777;
}

.box {
	padding: 16px;
	border: 5px solid blue;
	margin: 20px 0;

	/* text관련 css */
	font-family: 'Noto Sans KR', sans-serif;
	color: #044583;
	line-height: 1.5;
	letter-spacing: 1px;
	text-align: justify;  /* [left] right, center, justify */
	/* direction: rtl; */
}

.box p {
	margin-bottom: 16px;
}

.icon-book {
	width: 100%;
}

.icon-book2 {
	max-width: 100%;
}

.icon-book3 {
	width: 100%;
	max-width: 200px;
}

.icon {
	width: 50px;
	vertical-align: middle; /* [baseline] top middle bottom */
}

.icon-float {
	width: 100%;
	max-width: 200px;
	margin: 20px;
	float: left;
}

.text-deco {
	/* text-decoration: underline; */
	/* text-decoration: overline; */
	text-decoration: line-through; /* [none] underline, overline, line-through  */
}

.case {
	text-transform: capitalize; /* [none], uppercase, lowercase, capitalize  */
	text-indent: 20px;
	letter-spacing: -1px;
	word-spacing: 10px;
	white-space: normal; /* [wrap], nowrap, pre, pre-wrap, pre-line, break-spaces */
	/* word-break:; */
}
