@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
/* font-family: 'Nanum Myeongjo', serif; */

@import './fonts/uto-gothic.css';
/* font-family: 'BBTreeGR'; font-family: 'BBTreeGB'; font-family: 'BBTreeGL'; */


.wrapper {
	max-width: 1000px;
	padding: 50px 0 500px 0;
	margin: 0 auto;
}


.tbl {
	width: 100%;
	margin: 30px 0;
}
.tbl th {
	border: 5px solid #333;
	padding: 8px;
	background-color: #fffaea;
}
.tbl td {
	border: 5px solid #333;
	padding: 8px;
	text-align: center;
	background-color: bisque;
}
