/*
display: block | inline | inline-block | none | flex

div, p, ul, li, ol, header, footer, section, article ... -> block
span, a, b, strong, del... -> inline
img, input, select, button ... -> inline-block 

1. block        : 크기 ㅇ, 마진 ㅇ, 패딩 ㅇ
2. inline-block : 크기 ㅇ, 마진 ㅇ, 패딩 ㅇ
3. inline       : 크기 x, 마진(상하x, 좌우ㅇ), 패딩 ㅇ
*/

.wrapper {max-width: 1000px; margin: 0 auto; border: 5px solid blue;}
.box {border: 1px solid red;}
.box1 {display: block; height: 100px; padding: 20px;}
.box2 {display: inline; width: 200px; height: 100px; padding: 50px;}
.box3 {display: inline-block; width: 200px; height: 100px; margin: 20px;}