html, body {font-size: 32px;}

.wrapper {max-width: 1200px; margin: auto; padding: 32px;}

.prd {font-size: 1rem; padding: 1.5rem; background-color: black; color: white;}


.prd:last-child {border-top: 1px solid yellow;}

@media (min-width: 576px) {
	html, body {font-size: 28px;}
}

@media (min-width: 992px) {
	html, body {font-size: 22px;}
}

@media (min-width: 1200px) {
	html, body {font-size: 16px;}
}